.user-filter{
    font-weight:400;
}
.user-filter button{
    display:block;
    padding:12px;
    width:100%;
    text-align:start;
    cursor: pointer;
}
.user-filter button:hover{
    background-color:#127dce;
}
.filter-content{
    display:none;
    margin-bottom:1rem;
}

.filter-content .cell{
    padding:1rem;
}

.blue{
    background-color:#2185d0;
    color:#FFFFFF;
}
.card-rounded{
    border-radius:.5rem;
}
.card-header{
    background-color:#2185d0;
    color:#FFFFFF;
    font-weight: 800;
}
.card-mid{

}
.card-bot{
    border-top:1px solid #eee;
}
.field{
    font-weight:bold;
}
.card-section > h2 + span{
    float:right;
}
.dashboard-info{
    color:#eee;
    background: #2185d0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    padding:2rem;
    font-weight:400;
    font-family:Roboto, Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
}
.show-password-hover{
    background-color:#d2d2d2;
}